<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:with="ToolKit=${T(com.moekr.shadow.panel.util.ToolKit)}">
<head>
    <meta charset='utf-8'/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1"/>
    <meta name="theme-color" content="#C8C8C8"/>
    <title>节点管理 | Dashboard</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/common.css}" />
</head>
<body>
<nav class="navbar navbar-default" role="navigation">
    <div class="container container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#header">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" th:href="@{/dashboard/}">Dashboard</a>
        </div>
        <div class="collapse navbar-collapse" id="header">
            <ul class="nav navbar-nav">
                <li><a th:href="@{/dashboard/}">概览</a></li>
                <li><a th:href="@{/dashboard/user/}">用户</a></li>
                <li><a th:href="@{/dashboard/plan/}">套餐</a></li>
                <li><a th:href="@{/dashboard/invitation/}">邀请码</a></li>
                <li class="active"><a th:href="@{/dashboard/node/}">节点</a></li>
                <li><a th:href="@{/dashboard/client/}">客户端</a></li>
                <li><a th:href="@{/dashboard/statistics/}">统计</a></li>
                <li><a th:href="@{/dashboard/setting/}">设置</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">管理员<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a th:href="@{/logout.html}">退出登录</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="modal fade" tabindex="-1" id="node-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                <h4 class="modal-title" id="node-modal-title"></h4>
            </div>
            <div class="modal-body">
                <p>节点ID：<span id="node-id"></span></p>
                <p>节点名称：<span id="node-name"></span></p>
            </div>
            <div class="modal-footer">
                <form method="post">
                    <input type="hidden" name="id" id="node-id-input"/>
                    <input type="hidden" name="action" id="action-input"/>
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="submit" class="btn btn-primary">确认</button>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row col-md-12" th:if="${success!=null||error!=null}">
        <div class="alert alert-success text-center" th:if="${success}" th:text="${success}"></div>
        <div class="alert alert-danger text-center" th:if="${error}" th:text="${error}"></div>
    </div>
    <div class="row col-md-12">
        <h2 style="display: inline-block;">节点列表</h2>
        <button type="button" class="btn btn-md btn-primary" style="margin-left: 24px;margin-bottom: 12px;" onclick="window.location.href='./create.html'">增加节点</button>
        <div class="table-container">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>地区</th>
                    <th>编号</th>
                    <th>名称</th>
                    <th>权限</th>
                    <th>地址</th>
                    <th>端口</th>
                    <th>密码</th>
                    <th>状态</th>
                    <th>备注</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <th:block th:each="region,rstate:${nodes.keySet()}">
                    <th:block th:each="node,nstate:${nodes.get(region)}">
                        <tr>
                            <td th:if="${nstate.index==0}" th:rowspan="${nstate.size*3}" th:text="${region}"></td>
                            <td th:text="${node.id}"></td>
                            <td th:text="${node.name}"></td>
                            <td th:text="${node.level}"></td>
                            <td th:text="${node.address}"></td>
                            <td th:text="${node.port}"></td>
                            <td th:text="${node.password}"></td>
                            <td th:switch="${node.enable}">
                                <span th:case="${true}" class="label label-success">启用</span>
                                <span th:case="${false}" class="label label-info">停用</span>
                                <span th:case="*" class="label label-default">未知</span>
                            </td>
                            <td th:text="${node.note}"></td>
                            <td>
                                <th:block th:switch="${node.enable}">
                                    <button class="btn btn-xs btn-info" type="button" th:case="${true}" th:onclick="'nodeAction('+${node.id}+',\''+${node.name}+'\',\'停用节点\',\'disable\')'">停用节点</button>
                                    <button class="btn btn-xs btn-success" type="button" th:case="${false}" th:onclick="'nodeAction('+${node.id}+',\''+${node.name}+'\',\'启用节点\',\'enable\')'">启用节点</button>
                                </th:block>
                                <button class="btn btn-xs btn-danger" type="button" th:onclick="'nodeAction('+${node.id}+',\''+${node.name}+'\',\'移除节点\',\'remove\')'">移除节点</button>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="9" th:text="'加密：['+${node.method}+']，协议：['+${node.protocol}+']，混淆：['+${node.obfs}+']，服务端混淆参数：['+${node.serverObfsParam}+']，客户端混淆参数：['+${node.clientObfsParam}+']'"></td>
                        </tr>
                        <tr th:with="usedData=${node.usedData/1024/1024/1024}">
                            <td colspan="9" th:with="usedRate=${100.0*usedData/node.totalData}">
                                <div class="progress progress-striped" style="margin: 0;">
                                    <div th:class="'progress-bar progress-bar-'+${usedRate<60?'success':(usedRate>85?'danger':'warning')}" th:style="'width: '+${usedRate}+'%'">
                                        <p th:text="${#numbers.formatDecimal(usedRate,1,2)}+'%'"></p>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </th:block>
                </th:block>
                <tr th:if="${#maps.isEmpty(nodes)}">
                    <td colspan="10" class="text-center">没有记录！</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<footer class="footer">
    <div class="container">
        <p class="text-center">©2017-2018 Powered by <span th:text="${ToolKit.BANNER}"></span> ver <span th:text="${ToolKit.VERSION}"></span></p>
    </div>
</footer>
<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script th:src="@{/js/bundle.js}"></script>
</body>
</html>
