@charset "UTF-8";

.caution {
	margin: 0;
	padding: 8px 0;
	color: #777;
	text-align: left;
}

.table-container {
	white-space: pre;
	overflow-x: auto;
}

.table-container table {
	margin: 0;
}

.table-container .progress-bar p {
	white-space: pre-line;
}

.balance {
	font-size: 72px;
}

.payment {
	max-width: 100%;
	max-height: 300px;
}

footer {
	margin-top: 30px;
	color: #777;
}