@charset "UTF-8";

.table-container {
  margin-bottom: 50px;
}

table {
  font-size: 20px;
}

th,
td {
  padding: 16px !important;
}

.tile {
  height: 250px;
  padding: auto;
}

.tile-button {
  height: 200px;
  width: 200px;
  margin: 25px auto;
  background-color: #f1f1f1;
  border-radius: 20px;
  cursor: pointer;
}

.tile-button:hover {
  background-color: #dedede;
}

.tile-button i {
  font-size: 60px;
  margin: 55px 70px 0;
}

.tile-button p {
  font-size: 1.4em;
  padding-top: 10px;
}
