<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset='utf-8'/>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1"/>
	<meta name="theme-color" content="#C8C8C8"/>
	<title>Shadow Panel</title>
	<link rel="stylesheet" type="text/css" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" />
</head>
<body>
<nav class="navbar navbar-default" role="navigation">
	<div class="container container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#header">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="./">Shadow Panel</a>
		</div>
		<div class="collapse navbar-collapse" id="header">
			<ul class="nav navbar-nav">
				<li><a href="./">概览</a></li>
				<li><a href="./node.html">节点</a></li>
				<li class="active"><a href="./statistics.html">统计</a></li>
				<li><a href="./client.html">客户端</a></li>
			</ul>
			<div>
				<p class="navbar-text navbar-right">当前用户：<span>用户名</span></p>
			</div>
		</div>
	</div>
</nav>
<div class="container">
	<div class="panel panel-info" th:if="${not#strings.isEmpty(properties['announcement'])}">
		<div class="panel-heading">
			<h3 class="panel-title">公告</h3>
		</div>
		<div class="panel-body" th:utext="${properties['announcement']}"></div>
	</div>
	<h2>流量统计</h2>
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="month-chart" style="height: 300px;"></div>
</div>
<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdn.bootcss.com/echarts/4.0.2/echarts.min.js"></script>
<script th:src="@{/js/chart.js}"></script>
<script th:utext="'paintChart(\'month-chart\',\'最近30日流量数据（所有节点）\',\'bar\','+${monthChartData}+')'"></script>
</body>
</html>
